.about {
  display: flex;
  margin-top: 25px;
  margin-bottom: 13px;
}

.content {
  margin-left: 15px;
  margin-top: 10px;
  font-size: 14px;
}

.image {
  margin-bottom: 10px;
}

@media only screen and (max-width: 900px) {
  .about {
    display: block;
  }
}
