.header {
    display: flex;
    align-items: center;
    justify-content: center;
    
    height: 50px;
}

.navList {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navItem {
    margin-right: 30px;
}

.navItem:last-child {
    margin-right: 0;
}

.navItem a {
    font-size: 16px;
    color: black;
    text-decoration: none;
}

.navItem a:hover {
    color: rgb(116, 116, 116)
}